.cover {
  width: 350px;
  height: 500px;
  /* finish your styling of the cover div here! */
  background-color: grey;
}
#title {
  font-size: 50px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-bottom: 0;
  line-height: 50px;
  text-shadow: red 2px 5px;
}

#subtitle {
  text-align: center;
  margin-right: 32px;
  padding-right: 32px;
  color: cyan;
  opacity: 50%;
  margin-left: 60px;
  padding-left: 50px;
  font-size: medium;
  padding-top: 0px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#cover_image {
 max-width: 250px;
 max-height: 200px;
 display: block;
 margin-top: 50px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 50% 20% / 10% 40%;
}
